<a href="https://colab.research.google.com/github/mdrubel117/-Inheritence2/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#simple
print('Introduction')
print("My name is Md. Rubel")
#print('Kamrul')
'''
print(99)
print("Rasel")
'''
print("The name of my Department is Computer Science and Engineering,University Of Rajshahi.")
print("If you are a man,\nyou should  earn more and more money")

Introduction
My name is Md. Rubel
The name of my Department is Computer Science and Engineering,University Of Rajshahi.
If you are a man,
you should  earn more and more money

In [5]:
#newline
print("This is a python program.\n we are doing it in a google colab.\n my name is \"RUBEL\" ")

This is a python program.
 we are doing it in a google colab.
 my name is "RUBEL"

In [13]:
#variable
name="RUBEL"
name1="KAMRUL"
age=23
age1=22
print ("My name is "+name)
print ("I am ",age, "years old")
print ("My name is "+name1+ "\nI am ",age1, "years old")

My name is RUBEL
I am  23 years old
My name is KAMRUL
I am  22 years old

In [16]:
#operators
a=20
b=4
q=4
s=15
r=a+b
print(r)
r=a-b
print(r)
r=a*b
print(r)
r=a/b
print(r)
print(q**2)
r=s//q # flooring,nearest value
print(r)
r=s%q
print(r)

24
16
80
5.0
16
3
3

In [7]:
#take input from user
a=input("Enter a input :")
print(a)
#typecasting
b=int (input("Enter a integer input :"))
print(b)

34
34
56
56

In [11]:
name =input("Enter your name :")
age =int(input("Enter your age :"))
gpa=float(input("Enter your gpa :"))
print("Information :")
print("Name: "+name)
print("Name: ",age)
print("Name: ",gpa)

Enter your name :RUBEL
Enter your age :22
Enter your gpa :3.5
Information :
Name: RUBEL
Name:  22
Name:  3.5